

.left-side{
    position: relative;
   
    text-align: center;
    
}

.left-side-container{
 margin-top: 200px;
}

.img img{
    width: 100%;
    height:auto;
}

.my-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}